<div class="container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://www.blamesphere.de/2.0/lexicon/characters/domo-iko/1-m.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">grT</p>
      </div>
    </div>
</div>